name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build:
    name: Build & Test (GHC ${{ matrix.ghc }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: ["9.6.4", "9.8.2"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: "3.10"

      - name: Cache Cabal store
        uses: actions/cache@v4
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ matrix.ghc }}-${{ hashFiles('**/*.cabal', 'cabal.project') }}
          restore-keys: |
            ${{ runner.os }}-cabal-${{ matrix.ghc }}-

      - name: Update Hackage index
        run: cabal update

      - name: Build all packages
        run: cabal build all

      - name: Run tests
        run: cabal test all --test-show-details=always
